
    {% extends 'base.html' %}
    {% block content %}
<body class="">
skyloc@email.cz
<div id="content">
    <!--br>
        <-->
<div id="home">
<title> home | gatari </title>
<link onload='onLoad()' rel="stylesheet" href="/static/css/pages/home.css?6232525256">
<div class="container">
<div class="col-lg-12">
<div class="main-block">
<div class="telka"></div>
<div class="content">
<div class="status">
<span>
<span style="color: #2094ca;" class="counter-text"> 23465 </span>
total users
</span>
<span style="margin-left: 16px;">
<span class="counter-text"> 72 </span> online users
</span>
</div>
<span class="text-lg">
osu!gatari
</span>
<span class="text-sm">
Welcome to the best osu! server osu!gatari. On this website you will find all the information regarding the osu!gatari server: players leaderboard, maps list, how to start playing and much more.
</span>
<div class="buttons">
<a href="/user/register" class="home-btn btn-key"> sign up with a key </a>
<a href="/docs/key" class="home-btn btn-how">
how to get a key
</a>
<a href="https://storage.osu.gatari.pw/switcher.zip" class="home-btn btn-switcher"> switcher </a>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="col-lg-12">
<div class="reviews"><span class="text-h2"> Reviews </span>
<div class="reviews-row">
<div class="review-single">
<a a href="https://osu.osu.gatari.pw/u/16078" class="reivew-avatar" style="background-image: url(https://a.osu.gatari.pw/16078)"></a>
<div class="review-content"><a href="https://osu.osu.gatari.pw/u/16078" class="text-h3"> KibbeWater </a> <span class="review-text">
Gatari is a new place I can call home.
</span></div>
</div>
<div class="review-single">
<a a href="https://osu.osu.gatari.pw/u/3382" class="reivew-avatar" style="background-image: url(https://a.osu.gatari.pw/3382)"></a>
<div class="review-content"><a href="https://osu.osu.gatari.pw/u/3382" class="text-h3"> MyAngelAku </a> <span class="review-text">
Gatari is the only private server that actively helps banned players to get back to Bancho while even giving them a protected environment to play when they have nothing left.
</span></div>
</div>
<div class="review-single">
<a a href="https://osu.osu.gatari.pw/u/16278" class="reivew-avatar" style="background-image: url(https://a.osu.gatari.pw/16278?54297)"></a>
<div class="review-content"><a href="https://osu.osu.gatari.pw/u/16278" class="text-h3"> thiago luza </a> <span class="review-text">
Gatari is awesome, the fact that fun maps are ranked is the best part of it, osu is much less stressful for me now!
</span></div>
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="col-lg-12 d-flex justify-content-center">
<a href="/about" class="features">
see the full list of features here <div class="logo"></div>
</a>
</div>
</div>
<div class="container">
<div class="col-lg-12 d-flex flex-column">
<span class="text-h2"> Top Gatari streams </span>
<div class="streams-row">
<a href="https://twitch.tv/6sceseos" target="_blank" class="rounded-block stream-block" style="background-image: url(https://static-cdn.jtvnw.net/previews-ttv/live_user_6sceseos-1024x576.jpg);">
<div class="badges-row">
<div class="stream-badge live-badge"><span></span>Live</div>
<div class="stream-badge">2 viewers</div>
</div>
<div class="stream-info">
<div class="streamer">Holo</div>
</div>
</a>
<a href="https://twitch.tv/bre1ze" target="_blank" class="rounded-block stream-block" style="background-image: url(https://static-cdn.jtvnw.net/previews-ttv/live_user_bre1ze-1024x576.jpg);">
<div class="badges-row">
<div class="stream-badge live-badge"><span></span>Live</div>
<div class="stream-badge">1 viewer</div>
</div>
<div class="stream-info">
<div class="streamer">AmeLower</div>
</div>
</a>
<a href="https://twitch.tv/bikkofollower" target="_blank" class="rounded-block stream-block" style="background-image: url(https://static-cdn.jtvnw.net/previews-ttv/live_user_bikkofollower-1024x576.jpg);">
<div class="badges-row">
<div class="stream-badge live-badge"><span></span>Live</div>
<div class="stream-badge">1 viewer</div>
</div>
<div class="stream-info">
<div class="streamer">BikkoFollower</div>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
                                                                                                              
{% endblock %}